body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("mainBG.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 300px;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

article {
    background: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

article h2 {
    margin-bottom: 0.5rem;
}

.date {
    color: #888;
    margin-bottom: 1rem;
}

article a {
    color: #007BFF;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media query for screen widths below 700px */
@media (max-width: 700px) {
    .articles {
        grid-template-columns: 1fr;
    }
}